<div class="flex flex-row flex-wrap gap-5 my-5">
    
    <% categories.forEach((i) => { %>
      
      <div key={i.title} class="card bg-base-100 shadow-xl basis-60">
        <figure><img class="h-48 object-cover"  src="<%= imageBaseUrl+'/'+i.image.pathname %>" alt="Shoes" /></figure>
        <div class="card-body">
        <h2 class="card-title"><%= i.heading %></h2>
              <p><%= i.description.substring(0, 80) %>...</p>
          <div class="card-actions justify-end">
            <% if (i.type == 'Category') { %>
              <%- include('command', {command: '/explore', subcommand: i.heading, args: i._id}); %>
            <% } else if (i.type == 'Product') { %>
              <%- include('command', {method: 'post', command: '/add', args: i._id, args: i._id}); %>
              <%- include('command', {command: '/details', args: i._id, args: i._id}); %>
            <% } %>
          
          </div>
        </div>
      </div>
    <% }); %>
</div>

